:host {
  margin: 0 30px 50px;
  display: block;

  > {
    margin: 0 auto;
  }

  ::ng-deep doe-gallery {
    width: 100%;
    background-color: #f3f3f3;
  }
}

.heading-section {
  padding: 1em 0;
}

h3 {
  color: #444444;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    font-size: 1.6em;
  }
}

.subheading {
  color: #5b5b5b;
  margin-left: 5px;
  margin-top: 5px;
}
