:host {
  display: block;
  min-height: 1000px;
}

header {
  width: 100%;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 10px 15px;

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

form {
  margin-bottom: 20px;
}

section {
  margin-bottom: 15px;
}

mat-checkbox {
  display: block;
}

mat-radio-button {
  margin-left: 20px;
}

mat-form-field {
  label {
    white-space: nowrap;
  }
}

ngx-gallery {
  width: 100%;
  margin-bottom: 300px;

  ::ng-deep {
    ngx-image-viewer {
      img {
        margin: 0 auto;
      }
    }
  }
}

.github-link {
  $dimension: 32px;

  width: $dimension;
  height: $dimension;
  margin-left: auto;

  img {
    width: $dimension;
    height: $dimension;
  }
}

::ng-deep {
  .gallery-detail-first {
    ngx-gallery {
      width: 100vw;
      height: 100vh;
      max-width: 900px;
      max-height: 800px;

      @media (max-width: 767px) {
        width: auto;
      }

      img {
        margin: 0 auto;
      }

      ngx-image-viewer {
        .next {
          right: 30px;
        }

        .prev {
          left: 30px;
        }
      }
    }
  }
}

section {
  button {
    margin-left: 20px;
  }
}

:host::ng-deep .image-loading-latency {
  .mat-form-field-infix {
    width: auto;
  }
}
