<app-header></app-header>

<aside>
  <section>
    <div class="menu-heading">Demos</div>
    <ul>
      <li><a href="#">Responsive</a></li>
      <li><a href="#">Custom loading</a></li>
      <li><a href="#">Custom error handling</a></li>
      <li><a href="#">Multiple items</a></li>
      <li><a href="#">Infinite loop</a></li>
      <li><a href="#">Descriptions</a></li>
      <li><a href="#">Full configuration</a></li>
      <li><a href="#">Error handling</a></li>
      <li><a href="#">Thumbnails orientation</a></li>
      <li><a href="#">Thumbnails autoscroll</a></li>
    </ul>
  </section>
</aside>

<main>
  <app-demo-whole-config></app-demo-whole-config>
</main>

<footer>With care from daelmaak</footer>
