:host {
  display: block;
  min-height: 1000px;
}

header {
  width: 100%;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 10px 15px;

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

form {
  margin-bottom: 20px;
}

section {
  margin-bottom: 15px;
}

mat-checkbox {
  display: block;
}

mat-radio-button {
  margin-left: 20px;
}

mat-form-field {
  label {
    white-space: nowrap;
  }
}

ngx-gallery {
  width: 100%;
}

.github-link {
  $dimension: 32px;

  width: $dimension;
  height: $dimension;
  margin-left: auto;

  img {
    width: $dimension;
    height: $dimension;
  }
}

::ng-deep {
  .gallery-detail-first {
    ngx-gallery {
      width: 700px;
      height: 600px;

      @media (max-width: 767px) {
        width: auto;
      }
    }
  }
}

section.image-loading-latency {
  display: flex;
  align-items: center;
}
