<header>
  <div class="header-inner-container">
    <div>
      <h1>Ngx Gallery</h1>
      <div class="subtitle">
        Performant, mobile first, easy to use Angular 8+ Gallery
      </div>

      <div class="links">
        <a
          href="https://github.com/daelmaak/ngx-gallery"
          class="github-link link"
        >
          <img src="./assets/icons/GitHub-Mark-64px.png" alt="github link" />
        </a>
        <a
          href="https://www.npmjs.com/package/@daelmaak/ngx-gallery"
          class="npm-link link"
          rel="noreferrer"
        >
          <img src="./assets/icons/npm-logo.svg" alt="npm link" />
        </a>
      </div>
    </div>
  </div>
</header>
