:host {
  display: block;
}

header {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  box-shadow: 0 1px 1px #bdbdbd;
  z-index: 1;
  position: relative;
  box-sizing: border-box;

  .header-inner-container {
    padding: 0 20px;
    box-sizing: border-box;
    width: 800px;
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 110px;
      position: relative;
      right: 20px;
    }

    @media (max-width: 767px) {
      display: block;

      .logo {
        width: 100px;
        position: static;
        display: block;
        margin: 0 auto 10px;
      }
    }
  }

  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #313131;
  }

  .links {
    margin: 0 auto;
    text-align: center;

    .link {
      display: inline-block;
      margin-right: 15px;

      &:nth-of-type(1) {
        opacity: 0.85;
      }

      &:nth-last-of-type(1) {
        margin-right: 0;
      }

      &,
      & img,
      & svg {
        $dimension: 36px;
        width: $dimension;
        height: $dimension;
      }
    }

    .npm-link {
      img {
        transform: scale(1.3) translateY(3px);
      }
    }
  }
}
