:host {
  display: block;
  padding: 0 4rem;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 100%;
    z-index: 10;
    top: 0;
  }

  &::before {
    left: 0;
    background: linear-gradient(90deg, #fafafa 0%, rgba(250, 250, 250, 0) 100%),
      linear-gradient(90deg, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
  }

  &::after {
    right: 0;
    background: linear-gradient(270deg, #fafafa 0%, rgba(250, 250, 250, 0) 100%),
      linear-gradient(270deg, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
  }
}

gallery {
  height: 500px;
}

.custom-item {
  width: 100%;
  height: calc(100% - 2rem);
  margin: 1rem 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
  transition:
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.3s;
  box-shadow:
    0 2px 1px -1px #0003,
    0 1px 1px #00000024,
    0 1px 3px #0000001f;
  cursor: pointer;

  &:hover {
    box-shadow:
      0 5px 5px -3px #0003,
      0 8px 10px 1px #00000024,
      0 3px 14px 2px #0000001f;
  }

  &--selected {
    background-color: #eae0ff;
  }
}

.image-container {
  flex-grow: 1;

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info-box {
  min-height: 5rem;

  p {
    margin: 0;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.custom-arrow {
  $icon-size: 40px;
  width: $icon-size;
  height: $icon-size;
  font-size: $icon-size;
  color: white;
  text-shadow: 0 0 3px black;
  margin-right: 20px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
