:host {
  display: block;
  min-height: 1000px;
}

form {
  margin-bottom: 20px;
}

section {
  margin-bottom: 15px;
}

mat-checkbox {
  display: block;
}

mat-radio-button {
  margin-left: 20px;
}

mat-form-field {
  label {
    white-space: nowrap;
  }
}

ngx-gallery {
  width: 100%;
  // max-width: calc(1020px / 3);
  margin: 0 auto 300px;

  @media (max-width: 480px) {
    max-width: calc(100vw - 60px);
  }

  ::ng-deep {
    ngx-viewer {
      img {
        margin: 0 auto;
      }
    }
  }
}

section {
  button {
    margin-left: 20px;
  }
}

:host::ng-deep .image-loading-latency {
  .mat-form-field-infix {
    width: auto;
  }
}

.custom-media {
  object-fit: contain;
  width: 100%;
  height: 100%;
  outline: 0;

  &[src=''] {
    // do not show media if not started to load yet
    opacity: 0;
  }
}

.custom-loading,
.custom-error,
.custom-thumb-error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  opacity: 0.8;
}

.custom-prev-thumbs,
.custom-next-thumbs {
  position: absolute;
  top: 0;
  height: 100%;
  width: 36px;
  background-color: transparent;
  border: none;
  display: block;
  outline: 0;
  cursor: pointer;
}

.custom-prev-thumbs {
  left: -40px;
}

.custom-next-thumbs {
  right: -40px;
}
