<form>
  <section>
    <mat-checkbox name="arrows" [(ngModel)]="arrows">Arrows</mat-checkbox>
  </section>

  <section>
    <mat-checkbox name="descriptions" [(ngModel)]="descriptions">
      Descriptions
    </mat-checkbox>
  </section>

  <section>
    <mat-checkbox name="imageCounter" [(ngModel)]="imageCounter"
      >Image counter</mat-checkbox
    >
  </section>

  <section>
    <label>Image counter orientation:</label>
    <mat-radio-group
      name="imageCounterOrientation"
      [(ngModel)]="imageCounterOrientation"
    >
      <mat-radio-button value="top">top</mat-radio-button>
      <mat-radio-button value="bottom">bottom</mat-radio-button>
    </mat-radio-group>
  </section>

  <section>
    <label>Image fit:</label>
    <mat-radio-group name="objectFit" [(ngModel)]="objectFit">
      <mat-radio-button value="contain">contain</mat-radio-button>
      <mat-radio-button value="cover">cover</mat-radio-button>
    </mat-radio-group>
  </section>

  <section>
    <mat-checkbox name="loop" [(ngModel)]="loop">Loop</mat-checkbox>
  </section>

  <section>
    <mat-checkbox name="thumbs" [(ngModel)]="thumbs">Thumbnails</mat-checkbox>
  </section>

  <section>
    <mat-checkbox name="thumbsAutoScroll" [(ngModel)]="thumbsAutoScroll"
      >Thumbs autoscroll</mat-checkbox
    >
  </section>

  <section>
    <label>Thumbnails orientation:</label>
    <mat-radio-group name="thumbsOrientation" [(ngModel)]="thumbsOrientation">
      <mat-radio-button value="top">top</mat-radio-button>
      <mat-radio-button value="bottom">bottom</mat-radio-button>
      <mat-radio-button value="left">left</mat-radio-button>
      <mat-radio-button value="right">right</mat-radio-button>
    </mat-radio-group>
  </section>

  <section>
    <mat-checkbox name="thumbsArrows" [(ngModel)]="thumbsArrows"
      >Thumbnail arrows</mat-checkbox
    >
    <mat-form-field>
      <label>Slide thumbnails by length</label>
      <input
        name="thumbsArrowsSlideByLength"
        matInput
        [(ngModel)]="thumbsArrowSlideByLength"
      />
    </mat-form-field>
  </section>

  <section>
    <label>Thumbnails scroll behavior:</label>
    <mat-radio-group
      name="thumbsScrollBehavior"
      [(ngModel)]="thumbsScrollBehavior"
    >
      <mat-radio-button value="smooth">smooth</mat-radio-button>
      <mat-radio-button value="auto">auto</mat-radio-button>
    </mat-radio-group>
  </section>

  <section>
    <label>Thumbnail image fit:</label>
    <mat-radio-group name="thumbsObjectFit" [(ngModel)]="thumbsObjectFit">
      <mat-radio-button value="contain">contain</mat-radio-button>
      <mat-radio-button value="cover">cover</mat-radio-button>
    </mat-radio-group>
  </section>

  <section>
    <label>Image loading strategy:</label>
    <mat-radio-group name="loading" [(ngModel)]="loading">
      <mat-radio-button value="auto">auto</mat-radio-button>
      <mat-radio-button value="lazy">lazy</mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button (click)="reloadGallery()">
      Confirm loading strategy
    </button>
  </section>

  <hr />

  <section class="image-loading-latency">
    <mat-form-field>
      <label>Items (not images!) loading latency</label>
      <input
        name="imageLoadingLatency"
        matInput
        [(ngModel)]="imageLoadingLatency"
      />
    </mat-form-field>
    <button mat-raised-button (click)="reloadGallery()">
      Confirm latency
    </button>
  </section>
</form>

<ngx-gallery
  *ngIf="displayGallery"
  [items]="images | async"
  [arrows]="arrows"
  [descriptions]="descriptions"
  [imageCounter]="imageCounter"
  [imageCounterOrientation]="imageCounterOrientation"
  [objectFit]="objectFit"
  [loading]="loading"
  [loop]="loop"
  [thumbs]="thumbs"
  [thumbsAutoScroll]="thumbsAutoScroll"
  [thumbsOrientation]="thumbsOrientation"
  [thumbsArrows]="thumbsArrows"
  [thumbsArrowSlideByLength]="thumbsArrowSlideByLength"
  [thumbsScrollBehavior]="thumbsScrollBehavior"
  [thumbsObjectFit]="thumbsObjectFit"
  (imageClick)="openFirst($event)"
  (descriptionClick)="descriptions = false"
></ngx-gallery>

<ng-template #loadingTemplate>
  <div class="custom-loading">
    Custom Loading ...
  </div>
</ng-template>

<ng-template
  #itemTemplate
  let-index="index"
  let-selectedIndex="selectedIndex"
  let-item="item"
  let-visited="visited"
>
  <ng-container *ngIf="item.video; then videoTemplate; else imgTemplate">
  </ng-container>
  <ng-template #imgTemplate>
    <img
      #img
      class="custom-media"
      [src]="visited ? item.src : ''"
      (load)="onImageLoad()"
    />
    <div class="custom-loading" *ngIf="visited && img.naturalHeight <= 0">
      Custom item loading ...
    </div>
  </ng-template>
  <ng-template #videoTemplate>
    <video
      #video
      class="custom-media"
      [src]="visited ? item.src : ''"
      controls
      (loadedmetadata)="onImageLoad()"
    ></video>
  </ng-template>
</ng-template>

<ng-template
  #thumbTemplate
  let-index="index"
  let-selectedIndex="selectedIndex"
  let-item="item"
>
  <img class="custom-thumb" [src]="item.thumbSrc || item.src" />
</ng-template>

<ng-template #errorTemplate>
  <div class="custom-error">
    Custom loading error
  </div>
</ng-template>

<ng-template #thumbErrorTemplate>
  <div class="custom-thumb-error">
    Custom thumb loading error
  </div>
</ng-template>
