:host {
  display: block;
  min-height: 1000px;
}

form {
  margin: 40px 20px 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

section {
  margin-bottom: 15px;
}

mat-checkbox {
  display: block;
}

mat-radio-button {
  margin-left: 20px;
}

mat-form-field {
  label {
    white-space: nowrap;
  }
}

.gallery-container {
  box-sizing: border-box;
  height: calc(100vh - 64px);
  padding: 5% 20px 0;
}

doe-gallery {
  width: 100%;
  height: 95%;
  margin: 0 auto;

  ::ng-deep {
    doe-viewer {
      img {
        margin: 0 auto;
      }
    }
  }
}

section {
  button {
    margin-left: 20px;
  }
}

:host::ng-deep .image-loading-latency {
  .mat-form-field-infix {
    width: auto;
  }
}

.custom-media {
  object-fit: contain;
  width: 100%;
  height: 100%;
  outline: 0;

  &[src=''] {
    // do not show media if not started to load yet
    opacity: 0;
  }
}

.custom-loading,
.custom-error,
.custom-thumb-error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  opacity: 0.8;
}

.custom-arrow {
  height: 100%;
  width: 36px;
  background-color: transparent;
  border: none;
  display: flex;
  outline: 0;
  cursor: pointer;
}
