<form>
  <div>
    <h4>Gallery viewer properties</h4>

    <section>
      <mat-checkbox name="arrows" [(ngModel)]="galleryConfig.arrows"
        >Arrows</mat-checkbox
      >
    </section>

    <section>
      <mat-checkbox
        name="descriptions"
        [(ngModel)]="galleryConfig.descriptions"
      >
        Descriptions
      </mat-checkbox>
    </section>

    <section>
      <mat-checkbox
        name="mouseGestures"
        [(ngModel)]="galleryConfig.mouseGestures"
        (change)="reloadGallery()"
      >
        Mouse Gestures
      </mat-checkbox>
    </section>

    <section>
      <mat-checkbox
        name="touchGestures"
        [(ngModel)]="galleryConfig.touchGestures"
        (change)="reloadGallery()"
      >
        Touch Gestures
      </mat-checkbox>
    </section>

    <section>
      <mat-checkbox name="counter" [(ngModel)]="galleryConfig.counter"
        >Counter</mat-checkbox
      >
    </section>

    <section>
      <mat-checkbox
        name="loop"
        [(ngModel)]="galleryConfig.loop"
        (change)="reloadGallery()"
        >Loop</mat-checkbox
      >
    </section>

    <section>
      <mat-checkbox
        name="rtl"
        [(ngModel)]="galleryConfig.rtl"
        (change)="reloadGallery()"
        >Right to left</mat-checkbox
      >
    </section>

    <section>
      <label>Counter orientation:</label>
      <mat-radio-group
        name="counterOrientation"
        [(ngModel)]="galleryConfig.counterOrientation"
      >
        <mat-radio-button value="top">top</mat-radio-button>
        <mat-radio-button value="bottom">bottom</mat-radio-button>
      </mat-radio-group>
    </section>

    <section>
      <label>Image fit:</label>
      <mat-radio-group name="objectFit" [(ngModel)]="galleryConfig.objectFit">
        <mat-radio-button value="contain">contain</mat-radio-button>
        <mat-radio-button value="cover">cover</mat-radio-button>
      </mat-radio-group>
    </section>

    <section>
      <label>Image loading strategy:</label>
      <mat-radio-group
        name="loading"
        [(ngModel)]="galleryConfig.loading"
        (change)="reloadGallery()"
      >
        <mat-radio-button value="auto">auto</mat-radio-button>
        <mat-radio-button value="lazy">lazy</mat-radio-button>
      </mat-radio-group>
    </section>

    <section>
      <mat-form-field>
        <label>Item width</label>
        <input
          name="itemWidth"
          matInput
          [(ngModel)]="galleryConfig.itemWidth"
          (change)="reloadGallery()"
        />
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <label>Selected index</label>
        <input
          name="selectedIndex"
          matInput
          [(ngModel)]="galleryConfig.selectedIndex"
          (change)="reloadGallery()"
        />
      </mat-form-field>
    </section>
  </div>

  <div>
    <h4>Thumbnails properties</h4>
    <section>
      <mat-checkbox name="thumbs" [(ngModel)]="galleryConfig.thumbs"
        >Thumbnails</mat-checkbox
      >
    </section>

    <section>
      <mat-checkbox
        name="thumbsAutoScroll"
        [(ngModel)]="galleryConfig.thumbsAutoScroll"
        >Thumbs autoscroll</mat-checkbox
      >
    </section>

    <section>
      <mat-checkbox name="thumbsArrows" [(ngModel)]="galleryConfig.thumbsArrows"
        >Thumbnail arrows</mat-checkbox
      >
    </section>

    <section>
      <label>Thumbnails orientation:</label>
      <mat-radio-group
        name="thumbsOrientation"
        [(ngModel)]="galleryConfig.thumbsOrientation"
      >
        <mat-radio-button value="top">top</mat-radio-button>
        <mat-radio-button value="bottom">bottom</mat-radio-button>
        <mat-radio-button value="left">left</mat-radio-button>
        <mat-radio-button value="right">right</mat-radio-button>
      </mat-radio-group>
    </section>

    <section>
      <label>Thumbnails scroll behavior:</label>
      <mat-radio-group
        name="thumbsScrollBehavior"
        [(ngModel)]="galleryConfig.thumbsScrollBehavior"
      >
        <mat-radio-button value="smooth">smooth</mat-radio-button>
        <mat-radio-button value="auto">auto</mat-radio-button>
      </mat-radio-group>
    </section>

    <section>
      <mat-form-field>
        <label>Slide thumbnails by length (px)</label>
        <input
          name="thumbsArrowsSlideByLength"
          matInput
          [(ngModel)]="galleryConfig.thumbsArrowSlideByLength"
        />
      </mat-form-field>
    </section>

    <br />

    <h4>Auxiliary</h4>

    <section class="image-loading-latency">
      <mat-form-field>
        <label>Items (not images!) loading latency</label>
        <input
          name="imageLoadingLatency"
          matInput
          [(ngModel)]="imageLoadingLatency"
          (change)="reloadGallery()"
        />
      </mat-form-field>
    </section>
  </div>
</form>

<div class="gallery-container">
  <gallery
    *ngIf="displayGallery"
    [items]="items | async"
    [selectedIndex]="+galleryConfig.selectedIndex"
    [arrows]="galleryConfig.arrows"
    [descriptions]="galleryConfig.descriptions"
    [mouseGestures]="galleryConfig.mouseGestures"
    [touchGestures]="galleryConfig.touchGestures"
    [counter]="galleryConfig.counter"
    [counterOrientation]="galleryConfig.counterOrientation"
    [itemWidth]="galleryConfig.itemWidth"
    [objectFit]="galleryConfig.objectFit"
    [loading]="galleryConfig.loading"
    [loop]="galleryConfig.loop"
    [isRtl]="galleryConfig.rtl"
    [thumbs]="galleryConfig.thumbs"
    [thumbsAutoScroll]="galleryConfig.thumbsAutoScroll"
    [thumbsOrientation]="galleryConfig.thumbsOrientation"
    [thumbsArrows]="galleryConfig.thumbsArrows"
    [thumbsArrowSlideByLength]="galleryConfig.thumbsArrowSlideByLength"
    [thumbsScrollBehavior]="galleryConfig.thumbsScrollBehavior"
    (imageClick)="onImageClick($event)"
    (descriptionClick)="galleryConfig.descriptions = false"
  ></gallery>
</div>

<ng-template #loadingTemplate>
  <div class="custom-loading">
    Custom Loading ...
  </div>
</ng-template>

<ng-template
  #itemTemplate
  let-index="index"
  let-selectedIndex="selectedIndex"
  let-item="item"
  let-seen="seen"
>
  <ng-container *ngIf="item.video; then videoTemplate; else imgTemplate">
  </ng-container>
  <ng-template #imgTemplate>
    <img
      #img
      class="custom-media"
      [src]="seen ? item.src : ''"
      (load)="onImageLoad()"
    />
    <div class="custom-loading" *ngIf="seen && img.naturalHeight <= 0">
      Custom item loading ...
    </div>
  </ng-template>
  <ng-template #videoTemplate>
    <video
      #video
      class="custom-media"
      [src]="seen ? item.src : ''"
      controls
      (loadedmetadata)="onImageLoad()"
    ></video>
  </ng-template>
</ng-template>

<ng-template
  #thumbTemplate
  let-index="index"
  let-selectedIndex="selectedIndex"
  let-item="item"
>
  <img class="custom-thumb" [src]="item.thumbSrc || item.src" />
</ng-template>

<ng-template #errorTemplate>
  <div class="custom-error">
    Custom loading error
  </div>
</ng-template>

<ng-template #thumbErrorTemplate>
  <div class="custom-thumb-error">
    Custom thumb loading error
  </div>
</ng-template>

<ng-template #arrowTemplate>
  <button class="custom-arrow">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</ng-template>
