<app-header></app-header>

<aside>
  <div class="menu-heading"><a href="#usage">Usage</a></div>
  <div class="menu-heading"><a href="#demos">Demos</a></div>
  <ul>
    <li><a href="#demo-responsive">Responsive</a></li>
    <li>
      <a href="#demo-custom">Custom templates</a>
    </li>
    <li><a href="#demo-rtl">Right to left</a></li>
    <li><a href="#demo-descriptions">Descriptions</a></li>
    <li><a href="#demo-error-handling">Error handling</a></li>
    <li><a href="#demo-videos">Videos</a></li>

    <li><a href="#demo-full-config">Full configuration</a></li>
  </ul>

  <div class="menu-heading">Misc</div>
  <ul>
    <li>
      <a href="https://github.com/daelmaak/ngx-gallery/wiki" target="_blank"
        >Documentation</a
      >
    </li>
  </ul>
</aside>

<main role="main">
  <div class="main-content">
    <div id="usage" class="usage">
      <h2>Usage</h2>

      <div class="usage-code">
        <div>
          <h4>Install</h4>
          <pre><code>{{ installScript }}</code></pre>
        </div>

        <div>
          <h4>Component</h4>
          <pre><code>{{componentCode}}</code></pre>
        </div>

        <div>
          <h4>Template</h4>
          <pre><code>{{componentTemplateCode}}</code></pre>
        </div>
      </div>
    </div>

    <h2 id="demos">Demos</h2>

    <app-showcase
      id="demo-responsive"
      heading="Responsive - resize me!"
      stackblitz="https://stackblitz.com/edit/ngx-gallery-demo-responsive?file=src%2Fapp%2Fapp.component.html"
    >
      <gallery [items]="images" loading="lazy"></gallery>
    </app-showcase>

    <app-showcase
      id="demo-custom"
      heading="Custom templates"
      stackblitz="https://stackblitz.com/edit/ngx-gallery-demo-custom-templates?file=src%2Fapp%2Fapp.component.html"
    >
      <div subheading>
        You can also use your custom templates for items, loading screen,
        loading errors, thumbnails and more. Find out how in the
        <a
          href="https://github.com/daelmaak/ngx-gallery/wiki/Gallery-API"
          target="_blank"
          >documentation.</a
        >
      </div>
      <app-demo-custom-templates [mobile]="mobile"></app-demo-custom-templates>
    </app-showcase>

    <app-showcase id="demo-rtl" heading="Right to left">
      <gallery [items]="images" loading="lazy" [isRtl]="true"></gallery>
    </app-showcase>

    <app-showcase
      id="demo-descriptions"
      heading="Descriptions"
      stackblitz="https://stackblitz.com/edit/ngx-gallery-demo-descriptions?file=src%2Fapp%2Fapp.component.html"
    >
      <gallery
        counterOrientation="top"
        [items]="images"
        [descriptions]="true"
        loading="lazy"
      ></gallery>
    </app-showcase>

    <app-showcase id="demo-error-handling" heading="Error handling">
      <gallery [items]="erroredImages" loading="lazy"></gallery>
    </app-showcase>

    <app-showcase
      id="demo-videos"
      heading="Videos"
      subheading="both YouTube and native videos"
    >
      <gallery [items]="videos" loading="lazy"></gallery>
    </app-showcase>

    <app-showcase id="demo-full-config" heading="Full configuration">
      <div subheading>
        Some options like custom templates are missing. Check them out in the
        <a
          href="https://github.com/daelmaak/ngx-gallery/wiki/Gallery-API"
          target="_blank"
          >documentation.</a
        >
      </div>
      <app-demo-whole-config [images]="images"></app-demo-whole-config>
    </app-showcase>
  </div>
</main>

<footer>With care from daelmaak</footer>
